<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="bpmn2.runtime.RuntimeExtensionEngine"
            id="uk.ac.kent.bpmn2.runtime"
            name="Runtime Extension Engine ">
      </runtime>
      <customTask
            category="Extended BPMN Workflow"
            featureContainer="bpmn2.runtime.SecureTaskFeatureContainer"
            icon="lock.png"
            id="ExtendingRuntime.customTask"
            name="Secure Task"
            runtimeId="uk.ac.kent.bpmn2.runtime"
            type="Task">
         <property
               name="type"
               value="SecureTask">
         </property>
         <property
               name="restraint"
               type="EBoolean"
               value="false">
         </property>
      </customTask>
      <customTask
            category="Extended BPMN Workflow"
            featureContainer="bpmn2.runtime.SecureSequenceFlowFeatureContainer"
            id="ExtendingRuntime.secureSequenceFlow"
            name="Secure Sequence Flow"
            runtimeId="uk.ac.kent.bpmn2.runtime"
            type="SequenceFlow">
         <property
               name="type"
               value="SecureSequenceFlow">
         </property>
      </customTask>
      <customTask
            category="Extended BPMN Workflow"
            featureContainer="bpmn2.runtime.SecureSubChoreographyFeatureContainer"
            icon="lock.png"
            id="ExtendingRuntime.secureSubChoreography"
            name="Secure Sub Choreography"
            runtimeId="uk.ac.kent.bpmn2.runtime"
            type="SubChoreography">
         <property
               name="type"
               value="SecureSubChoreography">
         </property>
         <property
               name="restraint"
               type="EBoolean"
               value="false">
         </property>
      </customTask>
      <customTask
            category="Extended BPMN Workflow"
            featureContainer="bpmn2.runtime.SecureAuthenticationFeatureContainer"
            icon="login.png"
            id="ExtendingRuntime.secureAuth"
            name="Secure Authentication"
            runtimeId="uk.ac.kent.bpmn2.runtime"
            type="SubChoreography">
         <property
               name="type"
               value="SecureAuthentication">
         </property>
      </customTask>
   </extension>

</plugin>
